.info__container {
	padding: 0 2.2rem 2.7rem 2.2rem;
}
.info__title__dark {
	font-weight: 700;
	font-size: 1rem;
	line-height: 150%;
	color: #f5f5f5;
}
.info__title__light {
	font-weight: 700;
	font-size: 1rem;
	line-height: 150%;
	color: #2b283a;
}
.info__description__dark {
	font-weight: 400;
	font-size: 0.64rem;
	line-height: 150%;
	color: #dcdcdc;
}
.info__description__light {
	font-weight: 400;
	font-size: 0.64rem;
	line-height: 150%;
	color: #4a4e74;
}

.info__description__dark:not(:last-child) {
	margin-bottom: 1rem;
}
.info__description__light:not(:last-child) {
	margin-bottom: 1rem;
}
